@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.wrapper {
    padding-top: 100px;
    padding-bottom: 300px;
    position: relative;
    min-height: 100vh;
    background-color: black;
}

.wrapper h1 {
    font-size: 40px;
    font-family: 'Roboto';
    font-weight: normal;
    padding: 15px;
    color: var(--main-gold);
    text-align: center;
    text-transform: capitalize;
}

.wrapper .img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}

.wrapper .img-container .image {
    height: 250px;
    width: 350px;
    border: 10px solid #fff;
    box-shadow:  0 5px 15px rgba(0,0,0,0.1);
    overflow: hidden;
    cursor: pointer;
}

.wrapper .img-container .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .2s linear;
}

.wrapper .img-container .image img:hover {
    transform: scale(1.1);
}

.wrapper .popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.wrapper .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.wrapper .popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width:750px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .wrapper .popup-image img {
        width: 95%;
    }

   .wrapper {
       padding: 0;
   }
}

#footer-relative {
    position: relative;
}